@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/brittany-signature');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
} 
body{
  width: 100%;
  padding: 0px;
  margin: 0px;
    overflow-x: hidden;
    background-color: rgb(20, 20, 20);
    font-family: "Poppins", sans-serif;
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color:rgba(255, 255, 255, 0.5);
    font-size: 35px;
    font-weight: 600;
    font-family:'Brittany Signature', sans-serif;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: rgb(219, 219, 219);
    text-decoration: underline #4e00bb;
  }
  nav .menu-btn i{
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: rgb(196, 196, 196);
    }
  }

  .txt{
    color: white;
    margin-top: -27%;
    margin-left: 69%;
    font-size: 38px;
    font-weight: 600;
 }
 .txt span{
color: #4e00bb;
margin-top: 10%;

font-weight: 600;
 }
  
  h3{
      color: white;
      margin-left: 66%;
   
    font-size: 55px;
    margin-top: 1%;
  
    font-size: 24px;
    font-weight: 200;
  }
.img img{
    margin-left: 33px;
    width: 40%;
    margin-top: 65px;
  }

  @media screen and (max-width:420px) {
    .img img {
      width: 70%;
      margin-top: 65px;
      margin-left: 54px;}
      .txt {
        text-align: center;
        margin-left: 3px;
      margin-top: 10%;}
        h3{
          margin-left: 17%;
        }
        .container1 {
          margin-left: -447px;}
         
          .container1 .item {
            width: 375px;}
            
        .txt4{
          margin-top: 43%;
         
          margin-left: 26%;
        }
      }
  
/*Social icons*/

:root {
    --link-size: 64px;
    --trans-props: all 0.2s ease;
    --link-size-footer-b: 40px;
    --link-size-footer-s: 30px;
  }
  
  a.socialicon {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  }
  
  .social-icons {
    margin-left: 51%;
    margin-top: 0px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }
  .socialicon{
    
    display: flex;
    position: relative;
    overflow: hidden;
    width: var(--link-size);
    height: var(--link-size);
    background-color: #1f1e1e;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 2px 5px 5px var(--shadow-col);
    text-decoration: none;
    transition: var(--trans-props);
  }
  .socialicon i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
  }
  
  /* Social icon in dark mode */
  html[light-mode="dark"] .socialicon{
    background-color: #141516;
  }
  
  .kaggle i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
  }
  
  .socialicon.kaggle{
    color:var(--col-icon-kaggle);
  }
  
  .socialicon:after {
    content: "";
    width: var(--link-size);
    height: var(--link-size);
    position: absolute;
    transform: translate(0, var(--link-size));
    border-radius: 50%;
    transition: var(--trans-props);
    
  }
  
  .socialicon.kaggle:after {
    background-color: #41aff3;
    box-shadow: var(--kaggle);
  }
  
  
   /*
  ---------------------------
     LINKEDIN MICROANIMATION
  ---------------------------
  */
  
   .linkedin-icon{
    margin-left: 15px;
  }
  .linkedin:hover .linkedin-icon>rect{
    animation: rect-up 0.3s linear infinite;
  }
  
  
  @keyframes rect-up {
    50% {
        y:10px;
        height:11px;
     }
    0%{
        y:13px;
        height:8px;  
        }
    
  }
  
  .linkedin:hover .linkedin-icon> circle{
    animation: bounce 0.4s linear infinite;
  }
  
  @keyframes bounce {
    75% {
        cy: 8px;
     }
     50%{
        cy: 4px
     }
    0%{
        cy:4px
        }
    
  }
  
  /*
  ---------------------------
     INSTAGRAM MICROANIMATION
  ---------------------------
  */
  
  .instagram-icon {
    width: 90px !important;
   
  }
  .st0 {
    fill:none;
    stroke:#EF4649;
    stroke-width:7;
    stroke-linecap:round;
    stroke-miterlimit:10;
  }
  
  .instagram:hover #littleCircle {
    stroke-dasharray:150;
  }
  
  .instagram #shutter{
    display:none;
  }
  .instagram:hover #shutter{
    display: block;
    animation: shutter 1s linear infinite;
  }
  .instagram:hover #lens{
    fill:#EF4649;
    animation: lens 1.5s linear infinite;
  
  }
  
  @keyframes shutter {
    0%, 50% {
            stroke-dashoffset: 150;
            
        }
    75% {
            fill:#EF4649;
            stroke-dashoffset: 0;
            stroke-width:11;
        }
  }
  
  @keyframes lens {
    0%, 75% {
            opacity: 0;
        }
    100% {
            opacity: 1;
        }
  }
  
  
  /*
  ---------------------------
     TWITTER MICROANIMATION
  ---------------------------
  */
  .twitter-icon{
    width: 40px;
    margin-left: 12px;
  }
  
  .twitter:hover #wing1{
        transform-origin:center;
        animation: flap 0.4s ease-out infinite alternate;
     }	
     
  .twitter:hover #wing2{
      transform-origin:center;
      animation: flap 0.4s ease-in infinite alternate;
   }		
  
  @keyframes flap{
       50%{
        transform:scaleX(-1) rotate(-45deg) translate(-40px,-40px);
       }
     }
  
  /*
  --------------------------
     GITHUB MICROANIMATION
  --------------------------
  */
  html[light-mode="dark"] .github-icon{
    fill: #ffff;
  }
  
  .github-icon {
    width: 40px;
    margin-left: 12px;
    margin-top: 5px;
    fill: #000000;
  }
  
  .github:hover #arm {
    transform-origin: bottom right;
    animation: moveArm 1s infinite alternate;
  }
  
  @keyframes moveArm {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
   }
  
   /*
    
  ----------------------------
     SOCIAL MEDIA ANIMATIONS
  ----------------------------
  */
  
  .socialicon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  }
  .socialicon:hover:after {
    transform: translate(0) scale(1.2);
  }
  .socialicon:hover i {
    color: #fff;
  }
  a:hover {
    color: transparent;
  }
  .twitter:hover #wing1 {
    transform-origin: center;
    animation: flap 0.4s ease-out infinite alternate;
  }
  
  .twitter:hover #wing2 {
    transform-origin: center;
    animation: flap 0.4s ease-in infinite alternate;
  }
  
  @keyframes flap {
    50% {
        transform: scaleX(-1) rotate(-45deg) translate(-40px, -40px);
    }
  }
  
  
  /*
  -----------------------------
   LINKEDIN MICROANIMATION
  -----------------------------
  */
  
  .linkedin:hover .linkedin-icon-footer>rect {
    animation: rect-up 0.3s linear infinite;
  }
  
  @keyframes rect-up {
    50% {
        y: 10px;
        height: 11px;
    }
    0% {
        y: 13px;
        height: 8px;
    }
  }
  
  .linkedin:hover .linkedin-icon-footer>circle {
    animation: bounce 0.4s linear infinite;
  }
  
  @keyframes bounce {
    75% {
        cy: 8px;
    }
    50% {
        cy: 4px
    }
    0% {
        cy: 4px
    }
  }
  
  
  /*
  -----------------------------
   INSTAGRAM MICROANIMATION
  -----------------------------
  */
  
  .st0 {
    fill: none;
    stroke: #EF4649;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  
  .instagram-icon-footer:hover #littleCircle {
    stroke-dasharray: 150;
  }
  
  .instagram #shutter {
    display: none;
  }
  
  .instagram-icon-footer:hover #shutter {
    display: block;
    animation: shutter 1s linear infinite;
  }
  
  .instagram-icon-footer:hover #lens {
    fill: #EF4649;
    animation: lens 1.5s linear infinite;
  }
  
  @keyframes shutter {
    0%,
    50% {
        stroke-dashoffset: 150;
    }
    75% {
        fill: #EF4649;
        stroke-dashoffset: 0;
        stroke-width: 11;
    }
  }
  
  @keyframes lens {
    0%,
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  
  /*
  -----------------------------
   GITHUB MICROANIMATION
  -----------------------------
  */
  
  .github:hover #arm {
    transform-origin: bottom right;
    animation: moveArm 1s infinite alternate;
  }
  
  @keyframes moveArm {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
  }
  
  
  /* twitter SVG micro animation */
  
  .twitter-icon-footer {
    margin-bottom: 6px;
    width: 35px;
  }
  
  
  /* linkedin SVG micro animation */
  
  .linkedin-icon-footer {
    margin-bottom: 8px;
    width: 30px;
  }
  
  
  /* instagram SVG micro animation */
  
  .instagram-icon-footer {
    width: 70px;
    padding-right: 24px;
    padding-bottom: 8px;
  }
  
  
  /* github SVG Micro animation */
  
  .github-icon-footer {
    margin-bottom: 8px;
    width: 35px;
  }
  
  
  /*
  ----------------------------------------
   HOVER EFFECT ON SOCIAL MEDIA ICONS
  ----------------------------------------
  */
  
  .rounded-social-buttons .social-button.twitter {
    background: #2b2a2A;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 20%);
  }
  
  .rounded-social-buttons .social-button.twitter:hover,
  .rounded-social-buttons .social-button.twitter:focus {
    color: #000;
    background: #2b2a2A;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #2b2a2A;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 20%);
  }
  
  .rounded-social-buttons .social-button.linkedin:hover,
  .rounded-social-buttons .social-button.linkedin:focus {
    color: #000;
    background: #2b2a2A;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #2b2a2A;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 20%);
  }
  
  .rounded-social-buttons .social-button.instagram:hover,
  .rounded-social-buttons .social-button.instagram:focus {
    color: #000;
    background: #2b2a2A;
  }
  
  .rounded-social-buttons .social-button.github {
    fill: #ffff;
    background: #2b2a2A;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 20%);
  }
  
  .rounded-social-buttons .social-button.github:hover,
  .rounded-social-buttons .social-button.github:focus {
    color: #000000;
    background: #2b2a2A;
  }
  
     
  
  
  
  
  .wrapper{
    display: flex;
  }
  .wrapper .static-txt{
    color: #fff;
    margin-top: 24px;
    font-size: 30px;
    font-weight: 300;
    margin-left: -140px;
    width: 118px;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  
  }
  .dynamic-txts li{
    list-style: none;
    color:#ededed;
    font-size: 30px;
    font-weight: 300;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
   
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 24px;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
  
  
  @media screen and (max-width:420px){
    .social-icons {
      margin-left: 1%;}
  }
  
  
  
  
  /*
  ------------------------
    FOOTER SECTION
  ------------------------
  */
  
  
  /* Also have a look at the scroll to top button if changing footer's height (below upArrow in app.js) */
  
  .footer {
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    background-color: #121212;
  }
  
  .tag {
    font-family: "Poppins", sans-serif;
    font: size 20px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    height: 78px;
    margin: 5px auto 0px;
    display: block;
    box-sizing: border-box;
  }
  
  .svg-inline--fa {
    vertical-align: -0.200em;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  
  /********
  Rotate Transition in foote Soical Icon
  *********/
  
  .rounded-social-buttons .social-button:hover,
  .rounded-social-buttons .social-button:focus {
    transition: background-color 0.3s, var(--trans-props);
  }
  
  
  /*
  ------------------------------
   TWITTER MICROANIMATION
  -------------------------------
  */
  
  .twitter:hover #wing1 {
    transform-origin: center;
    animation: flap 0.4s ease-out infinite alternate;
  }
  
  .twitter:hover #wing2 {
    transform-origin: center;
    animation: flap 0.4s ease-in infinite alternate;
  }
  
  @keyframes flap {
    50% {
        transform: scaleX(-1) rotate(-45deg) translate(-40px, -40px);
    }
  }
  
  
  /*
  -----------------------------
   LINKEDIN MICROANIMATION
  -----------------------------
  */
  
  .linkedin:hover .linkedin-icon-footer>rect {
    animation: rect-up 0.3s linear infinite;
  }
  
  @keyframes rect-up {
    50% {
        y: 10px;
        height: 11px;
    }
    0% {
        y: 13px;
        height: 8px;
    }
  }
  
  .linkedin:hover .linkedin-icon-footer>circle {
    animation: bounce 0.4s linear infinite;
  }
  
  @keyframes bounce {
    75% {
        cy: 8px;
    }
    50% {
        cy: 4px
    }
    0% {
        cy: 4px
    }
  }
  
  
  /*
  -----------------------------
   INSTAGRAM MICROANIMATION
  -----------------------------
  */
  
  .st0 {
    fill: none;
    stroke: #EF4649;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  
  .instagram-icon-footer:hover #littleCircle {
    stroke-dasharray: 150;
  }
  
  .instagram #shutter {
    display: none;
  }
  
  .instagram-icon-footer:hover #shutter {
    display: block;
    animation: shutter 1s linear infinite;
  }
  
  .instagram-icon-footer:hover #lens {
    fill: #EF4649;
    animation: lens 1.5s linear infinite;
  }
  
  @keyframes shutter {
    0%,
    50% {
        stroke-dashoffset: 150;
    }
    75% {
        fill: #EF4649;
        stroke-dashoffset: 0;
        stroke-width: 11;
    }
  }
  
  @keyframes lens {
    0%,
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  
  /*
  -----------------------------
   GITHUB MICROANIMATION
  -----------------------------
  */
  
  .github:hover #arm {
    transform-origin: bottom right;
    animation: moveArm 1s infinite alternate;
  }
  
  @keyframes moveArm {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
  }
  
  
  /* twitter SVG micro animation */
  
  .twitter-icon-footer {
    margin-bottom: 6px;
    width: 35px;
  }
  
  
  /* linkedin SVG micro animation */
  
  .linkedin-icon-footer {
    margin-bottom: 8px;
    width: 30px;
  }
  
  
  /* instagram SVG micro animation */
  
  .instagram-icon-footer {
    width: 70px;
    padding-right: 24px;
    padding-bottom: 8px;
  }
  
  
  /* github SVG Micro animation */
  
  .github-icon-footer {
    margin-bottom: 8px;
    width: 35px;
  }
  
  
  /*
  ----------------------------------------
   HOVER EFFECT ON SOCIAL MEDIA ICONS
  ----------------------------------------
  */
  
  .rounded-social-buttons .social-button.twitter {
    background: #2b2a2A;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 20%);
  }
  
  .rounded-social-buttons .social-button.twitter:hover,
  .rounded-social-buttons .social-button.twitter:focus {
    color: #000;
    background: #2b2a2A;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #2b2a2A;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 20%);
  }
  
  .rounded-social-buttons .social-button.linkedin:hover,
  .rounded-social-buttons .social-button.linkedin:focus {
    color: #000;
    background: #2b2a2A;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #2b2a2A;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 20%);
  }
  
  .rounded-social-buttons .social-button.instagram:hover,
  .rounded-social-buttons .social-button.instagram:focus {
    color: #000;
    background: #2b2a2A;
  }
  
  .rounded-social-buttons .social-button.github {
    fill: #ffff;
    background: #2b2a2A;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 20%);
  }
  
  .rounded-social-buttons .social-button.github:hover,
  .rounded-social-buttons .social-button.github:focus {
    color: #000000;
    background: #2b2a2A;
  }
  #preloader{
    background: rgb(20, 20, 20) url(pre.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: fixed;
  }
.logo a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
